.container {
    max-width: 1275px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;


    @media (max-width: 991px) {
        max-width: 960px;
        width: auto;
    }

    @media (max-width: 767px) {
        max-width: 720px;
        width: auto;
    }
}

.col-left {
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 25%;
    padding: 0 15px;

    @media (max-width: 991px) {
        flex: 1 1 100%;
        padding: 0;
    }

}

.col-right {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 65%;
    padding: 0 15px;

    @media (max-width: 991px) {
        flex: 1 1 100%;
        padding: 0;
    }

}

.text {
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;

    @media (max-width: 991px) {
        font-size: 22px;
        line-height: 22px;
    }

    @media (max-width: 767px) {
        font-size: 18px;
    }
}

.t-a-c {
    text-align: center;
}

.t-a-l {
    text-align: left;
}

.t-a-r {
    text-align: right;
}

